.form {
max-width: 320px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.field {
width: 280px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.label {
    display: block;
        margin-bottom: 5px;
}

.formBtn {
display: block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    margin-top: 15px;
    
}

.error {
    color: rgb(235, 27, 27);
        font-size: 14px;
        margin-top: 5px;
}